.user-login {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.title {
    margin-bottom: 0px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.create-new-blog {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: start;
}

.create-new-blog h2 {
    margin: 0;
}

.notification-dialog {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    display: inline-flex;
    border: 2px solid green;
    justify-content: start;
    padding: 0.5rem;
    background-color: rgb(157, 255, 186);
}

.error-dialog {
    background-color: rgb(255, 209, 216);
    border: 2px solid red;
}

.blog-parent {
    display: flex;
    flex-direction: column;
    gap: 0.5rem
}

.blog-container {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    border: 1px solid black;
    padding: 0.5rem;
}

.blog-title {
    display: flex;
    gap: 0.5rem;
}

.likes-container {
    display: flex;
    gap: 0.25rem
}

.blog-remove-button {
    border: none;
    border-radius: 10px;
    padding: 0.25rem 0.5rem;
    color: red;
    background-color: rgb(255, 209, 216);
    cursor: pointer;
}

.blog-content {
    display: flex;
    flex-direction: column;
}
